@charset "utf-8";
*{margin:0;padding:0;}
body{font-size:14px;}
body div{margin:0 auto;width:950px;}
.main_body{background-image:url(../images/bg.jpg);background-position:center;background-repeat:no-repeat;}
.menu_span{width:130px;line-height:30px;border:1px solid #cccccc;background-color:#f6f6f6;text-align:center;float:left;}

a.blue:link{color:blue;text-decoration:underline;}
a.blue:visited{color:blue;text-decoration:underline;}
a.blue:hover{color:blue;text-decoration:underline;}
a.blue:active{color:blue;text-decoration:underline;}
